.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  gap: 1rem;
  height: 90px;
  background-color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.mobile-nav {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #23468C;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;

  &:hover {
    color: #4a7ba7;
  }
}

.separator {
  color: #23468C;
  font-weight: 300;
  margin: 0 0.25rem;
}

.logo {
  width: 133px;
  height: 120px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .header {
    padding: 0.5rem 2rem;
  }
  
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    margin-left: auto;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem 1rem;
    height: 70px;
  }
  .logo {
    width: 90px;
    height: 80px;
  }
}
