.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    grid-area: header;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.content{
    grid-area: content;
    background-color: rgb(209, 151, 151);
}

.footer{
    grid-area: footer;
    background-color: #4A86E8;
}